@page "/ActiveUserTask"

@using TrackYourDay.Core.UserTasks
@using TrackYourDay.MAUI.Components
@using TrackYourDay.MAUI.Data;

@if (true)
{
    <p><em>Active User Task is loading ...</em></p>
}
else
{
    <p>Active User Task</p>
}

@code {
}