@page "/activities"

@using TrackYourDay.Core.Activities;
@using TrackYourDay.MAUI.Data;
@inject ActivityTracker activityTracker;

<h1>Activities</h1>


@if (activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in activities.TakeLast(100))
            {
                <tr>
                    <td>@activity.StartDate.ToLongTimeString()</td>
                    <td>@activity.EndDate.ToLongTimeString()</td>
                    <td>@activity.GetDuration()</td>
                    <td>@activity.ActivityType.ActivityDescription</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<EndedActivity> activities;

    protected override async Task OnInitializedAsync()
    {
        activities = this.activityTracker.GetEndedActivities().OrderByDescending(activity => activity.StartDate).ToList();
    }
}
