@page "/breaks"

@using TrackYourDay.Core.Activities;
@using TrackYourDay.Core.Breaks;
@using TrackYourDay.MAUI.Data;
@inject BreakTracker breakTracker;

<h1>Breaks</h1>


@if (breaks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var endedBreak in breaks)
            {
                <tr>
                    <td>@endedBreak.BreakStartedAt.ToShortDateString()</td>
                    <td>@endedBreak.BreakEndedAt.ToShortDateString()</td>
                    <td>@endedBreak.BreakDuration</td>
                    <td>@endedBreak.BreakDescription</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<EndedBreak> breaks;

    protected override async Task OnInitializedAsync()
    {
        breaks = this.breakTracker.GetEndedBreaks().ToList();
    }
}
