@page "/breakRevoke/{BreakGuid}"

@using TrackYourDay.Core.Activities;
@using TrackYourDay.Core.Breaks;
@using TrackYourDay.MAUI.Data;
@inject BreakTracker breakTracker;

<h1>Did you had a Break?</h1>

@if (true == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="RevokeBreak">No</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="CloseWindow">Yes</MudButton>

    <p>Break Guid: @BreakGuid</p>
}

@code 
{
    [Parameter]
    public string BreakGuid { get; set; }

    private void RevokeBreak()
    {
        this.breakTracker.RevokeBreak(Guid.Parse(this.BreakGuid), DateTime.Now);
    }

    private void CloseWindow()
    {
        // TODO: Fix to work with multiple Break Revoking dialogs
        // Change below to command that will close this Window, otherwise there is
        // null reference exception caused by calling code withinitself
            var currentWindow = Application.Current?.Windows.FirstOrDefault(w => w.Page is BreakRevokePage);
            Application.Current?.CloseWindow(currentWindow);
    }
}