@page "/breakRevoke/{BreakGuid}"

@using TrackYourDay.Core.Activities;
@using TrackYourDay.Core.Breaks;
@using TrackYourDay.MAUI.Data;
@inject BreakTracker breakTracker;

<h1>Break Revoking Dialog </h1>


@if (true == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Content</h1>

    <p>Revoking break with Guid: @BreakGuid</p>
}

@code 
{
    [Parameter]
    public string BreakGuid { get; set; }
}