@page "/popupUserTask"

@using TrackYourDay.Core.UserTasks
@using TrackYourDay.MAUI.Components
@using TrackYourDay.MAUI.Data;

@if (true)
{
    <p><em>Loading popup user task...</em></p>
}
else
{
    <p>Popup user task content</p>
}

@code {
}