@using TrackYourDay.Core.Versioning;
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page" style="overflow: hidden;">
    <main>
        <article class="content"> 
            @Body 
        </article>
    </main>
</div>

@code {
}