.donut-inner-text {
    font-weight: 600;
    font-size: 13px;
}

.mud-expansion-panel {
    border-radius: 12px !important;
    margin-bottom: 16px;
}

.mud-expansion-panel-header {
    font-weight: 500;
}
