@using Hangfire;
@using System.Windows;

<h1>Thanks!</h1>

<p>
    <a href="https://www.flaticon.com/free-icons/refresh" title="refresh icons">Refresh icons created by Creative Stall Premium - Flaticon</a>
</p>