@using MediatR
@using MudBlazor
@using TrackYourDay.Core.ApplicationTrackers.MsTeams.PublicEvents
@using TrackYourDay.Core.ApplicationTrackers.UserTasks
@using TrackYourDay.Core.Insights.Workdays.Events
@using TrackYourDay.Web.Events
@implements IDisposable

<div class="d-flex align-items-center" style="width: fit-content;">
    <div>
        <MudTextField @bind-Value="WorkTime" style="margin-top: -9px; width: 80px;" T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.WorkOutline" Format="hh\:mm" ReadOnly="true" />
    </div>
    <div>
        <MudTextField @bind-Value="BreakTime" style="margin-top: -9px; width: 80px;" T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.FreeBreakfast" Format="hh\:mm" ReadOnly="true" />
    </div>
    <div @onclick="OnMeetingIconClick" style="cursor: @(IsOngoingMeeting ? "pointer" : "default");">
        <MudIcon Icon="@Icons.Material.Filled.VideoCameraFront" Color="this.MeetingIconColor" Size="Size.Medium" style="margin-top: 0px;" />
    </div>

    <UserTaskComponent></UserTaskComponent>
</div>

@code {
    [Inject]
    public required IMediator Mediator { get; set; }

    [Inject]
    public required EventWrapperForComponents EventWrapper { get; set; }

    [Inject]
    private UserTaskService userTaskService { get; set; }

    [Inject]
    private IDialogService DialogService { get; set; }


    private TimeSpan WorkTime { get; set; }
    private TimeSpan BreakTime { get; set; }
    private TimeSpan UserTaskTime { get; set; }
    private string UserTaskDescription { get; set; } = string.Empty;
    private bool IsOngoingMeeting { get; set; } = false;
    private Color MeetingIconColor { get; set; } = Color.Default;

    protected override void OnInitialized()
    {
        EventWrapper.OperationalBarOnWorkdayUpdatedAction += UpdateWorkdayProperties;
        EventWrapper.OperationalBarOnMeetingStartedAction += UpdateOngoingMeetingToActive;
        EventWrapper.OperationalBarOnMeetingEndedAction += UpdateOngoingMeetingToInactive;
    }

    private void UpdateWorkdayProperties(WorkdayUpdatedEvent notification)
    {
        this.WorkTime = notification.Workday.TimeOfAllActivities;
        this.BreakTime = notification.Workday.TimeOfAllBreaks;
        InvokeAsync(StateHasChanged);
    }

    private void UpdateOngoingMeetingToActive(MeetingStartedEvent meetingStartedEvent)
    {
        this.IsOngoingMeeting = true;
        this.MeetingIconColor = Color.Success;
        InvokeAsync(StateHasChanged);
    }

    private void UpdateOngoingMeetingToInactive(MeetingEndedEvent meetingEndedEvent)
    {
        this.IsOngoingMeeting = false;
        this.MeetingIconColor = Color.Default;
        InvokeAsync(StateHasChanged);
    }

    private void OnMeetingIconClick()
    {
        if (!IsOngoingMeeting) return;
        
        Mediator.Publish(new RequestManualMeetingEndEvent());
    }

    public void Dispose()
    {
        EventWrapper.OperationalBarOnWorkdayUpdatedAction -= UpdateWorkdayProperties;
    }
}
