@using Hangfire;
@using System.Windows;
@using TrackYourDay.Core.Activities;

<p>Activities: 0 for 00:00</p>
<p>Breaks: 0 for 00:00</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Inject]
    private ActivityEventTracker activityEventTracker { get; set; }

    private bool isFullScreen = false;
    private int currentCount = 0;
    private int sharedCount = 0;
    private string activity = "None";

    private void IncrementCount()
    {
        currentCount++;
        this.sharedCount = activityEventTracker.GetRegisteredActivities().Count();
        this.activity = activityEventTracker.GetRegisteredActivities().FirstOrDefault()?.Activity.Name;
    }

    private void TurnFullScreenOn()
    {
        this.isFullScreen = true;
        Application.Current.MainWindow.Show();
    }

    private void TurnFullScreenOff()
    {
        this.isFullScreen = false;
        Application.Current.MainWindow.Hide();
    }
}