@using Hangfire;
@using System.Windows;
@using TrackYourDay.Core.Activities;
@using TrackYourDay.Core.Breaks;

<p>Last activity: @lastActivity?.EventDate @lastActivity?.Activity?.Name </p>
<p>Activities: @activitiesCount for @activitiesTotalTime.Hours : @activitiesTotalTime.Minutes</p>
<p>Breaks: @breaksCount for @breaksTotalTime.Hours : @breaksTotalTime.Minutes</p>
<button class="btn btn-primary" @onclick="Refresh">Click me</button>

@code {
    [Inject]
    private ActivityEventTracker activityEventTracker { get; set; }
    [Inject]
    private BreakTracker breakTracker { get; set; }

    private ActivityEvent lastActivity;
    private int activitiesCount;
    private int breaksCount;
    private TimeSpan activitiesTotalTime;
    private TimeSpan breaksTotalTime;

    private void Refresh()
    {
        this.activitiesCount = activityEventTracker.GetRegisteredActivities().Count;
        this.lastActivity = activityEventTracker.GetRegisteredActivities().Last();

        this.breaksCount = breakTracker.endedBreaks.Count;
        var TimeSpans = breakTracker.endedBreaks.Select(x => x.BreakDuration).ToList();
        var result = new TimeSpan();
        foreach (var span in TimeSpans)
        {
            result = result.Add(span);
        }
        this.breaksTotalTime = result;
    }
}