name: Publish Release manually

on:
  workflow_dispatch:
    inputs:
          version:
              description: 'Version number'
              default: '0.0.0'
              required: true
          isPreRelease:
                type: boolean
                description: Is this version a pre release
                required: true

jobs:
    create-release:
        runs-on: windows-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Update Assembly version
              uses: managedcode/MAUIAppVersion@v1
              with:
                csproj: 'src\TrackYourDay.MAUI\TrackYourDay.MAUI.csproj'
                version: ${{ github.run_number }} 
                displayVersion: ${{ github.event.inputs.version }}
      
            - name: Set up .NET Core
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: 9.0.x  # Specify the .NET version you need

            - name: Install MAUI workloads
              run: dotnet workload install maui

            - name: Restore dependencies
              run: dotnet restore
                
            - name: Build 
              run: dotnet build --configuration Release

            - name: Test
              run: dotnet test --configuration Release --logger "trx;LogFileName=test_results.xml" --filter "Category!=Integration"
              env:
                VSTEST_LOG_PATH: test_results.xml
            
            - name: Archive build output
              uses: thedoctor0/zip-release@0.7.1
              with:
                type: 'zip'
                directory: 'src\TrackYourDay.MAUI\bin\Release\net9.0-windows10.0.22000.0\win-x64'
                filename: 'TrackYourDay_v${{ github.event.inputs.version }}.zip'
                exclusions: '*.git*'

            - name: Create tag
              run: git tag v${{ github.event.inputs.version }}
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Push tag
              uses: ad-m/github-push-action@master
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                branch: 'main'
                tags: true

            - uses: ncipollo/release-action@v1
              with:
                artifacts: 'src\TrackYourDay.MAUI\bin\Release\net9.0-windows10.0.22000.0\win-x64\TrackYourDay_v${{ github.event.inputs.version }}.zip'
                artifactErrorsFailBuild: true
                prerelease: ${{ github.event.inputs.isPreRelease }}
                tag: v${{ github.event.inputs.version }}
                artifactContentType: application/zip
                generateReleaseNotes: true
                body: |
                  ## TrackYourDay v${{ github.event.inputs.version }}
                  
                  This release was manually created.